## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## Rider/VS
.idea/
.vs/
*.DotSettings.user

## Logs
logs/

## Storage
storage/*.db

## CV folder
cv/

## OS
.DS_Store
Thumbs.db

## Playwright browsers
.playwright/
